In [ ]:
#study of set
# Creating a set using curly braces
s= {'apple', 'banana', 'cherry'} #limtation of the set is that it isnt
#always printed in the same order (it is unordered)
print("set s with curly braces:", s)
print("type of the set: ", {type(s)})

s2= {1, 1.4, True, "Riya"}
# if true and 1 coexist in one set then only one of them will be printed because theyre considered analogous in python
print("set s2:", s2)
print("type of the set: ", {type(s2)})

s3= { 2, "Riya", True, "Riya",}
#here riya will be printed only once because python mitigates those elements added twice to the set
print("set s3:", s3)

set s with curly braces: {'apple', 'cherry', 'banana'}
type of the set:  {<class 'set'>}
set s2: {1, 1.4, 'Riya'}
type of the set:  {<class 'set'>}
set s3: {True, 2, 'Riya'}

In [ ]:
print(s[2]) #indexing doesnt work in sets

TypeError: 'set' object is not subscriptable

In [ ]:
s5= {1,2,3}
s6= {3,4,5}
print("union using s1union(s2):", s5.union(s6))
print("union using |:", s5|s6)
print("intersection using s1.intersection(s2):", s5.intersection(s6))
print("intersection using &:", s5&s6)
print("difference using -:", s5-s6) #removes elements that are common in s5 and s6
print("difference using s1.difference(s2):", s5.difference(s6))
print("dissimilar: ", s5^s6)

union using s1union(s2): {1, 2, 3, 4, 5}
union using |: {1, 2, 3, 4, 5}
intersection using s1.intersection(s2): {3}
intersection using &: {3}
difference using -: {1, 2}
difference using s1.difference(s2): {1, 2}
dissimilar:  {1, 2, 4, 5}

In [ ]:
# for appension to the set, use setname.add
s.add("mango")
print(s)
#mango gets added to the set but it gets added randomly

s4 = {1,2,3}
print(s4)
s4.add(4)
print("adding 4 to the set: ", s4)
s4.add(3)
print("adding an existing element to the set: ", s4)
s4.remove(3) #will give an error if the element is not present
print("removing 3 from the set: ", s4)
s4.discard(2)
print("discarding 2 from the set", s4)
#will not give and error if the number is not present
s4.add(3)
s4.add(2)
print(s4)
s4.pop() # it will give an error if the set is empty. and will remove an arbitrary element
print(s4)
s4.clear() #clears the set
print("clearing the set: ", s4)

{'mango', 'apple', 'cherry', 'banana'}
{1, 2, 3}
adding 4 to the set:  {1, 2, 3, 4}
adding an existing element to the set:  {1, 2, 3, 4}
removing 3 from the set:  {1, 2, 4}
discarding 2 from the set {1, 4}
{1, 2, 3, 4}
{2, 3, 4}
clearing the set:  set()

In [ ]:
#frozen set
s7= frozenset([1,2,3])
print(s7)
print(type(s7))
# You cannot add or remove elements from a frozenset
# my_frozenset.add(4) # This would raise an AttributeError

frozenset({1, 2, 3})
<class 'frozenset'>

In [ ]:
#creating an empty set
s_emp = set()
print("empty set: ", s_emp)
print("type of empty set: ", type(s_emp))

#creating a set from a list
l = [1, 2, 3, 4,]
l2s = set(l)
print("set created from a list: ", l2s)

#creating a set from tuple
t = (1, 2, 3, 4)
t2s = set(t)
print("set created from a tuple: ", t2s)

#creating a set from string
s = "hello"
s2s = set(s)
print("set created from a string: ", s2s)

empty set:  set()
type of empty set:  <class 'set'>
set created from a list:  {1, 2, 3, 4}
set created from a tuple:  {1, 2, 3, 4}

In [ ]:
# program 1: unique even participants
#a college event has a list of students who registered multiply accidentally
# write a program set to store paticipant names and dont repeat the names
l=  [ "riya", "soumya", "ira", "siddhi", "riya", "simran", "shravya", "ruchika", "soumya", "rupsa"]
print("list of students without the removal of extra names", l)
s = set(l)
print("list of students after removal of extra names", s)

list of students without the removal of extra names ['riya', 'soumya', 'ira', 'siddhi', 'riya', 'simran', 'shravya', 'ruchika', 'soumya', 'rupsa']
list of students after removal of extra names {'rupsa', 'ira', 'ruchika', 'riya', 'shravya', 'soumya', 'simran', 'siddhi'}

In [ ]:
#program 2:three stydents choose elective subjects. find the common subjects
#chosen by all students using set operation (intersection)
student1 = {'AMT', 'PES', 'TPCS', 'EDP'}
student2 = {'Math 1', 'FEEE', 'AMT', 'EDP'}
student3 = {'CLA', 'BEEE', 'PES', 'EDP'}
print ("subjects chosen by student 1", student1)
print ("subjects chosen by student 2", student2)
print ("subjects chosen by student 3", student3)
common_subjects = student1.intersection(student2, student3)
print("Common subjects chosen by all students:", common_subjects)

subjects chosen by student 1 {'PES', 'EDP', 'AMT', 'TPCS'}
subjects chosen by student 2 {'Math 1', 'EDP', 'FEEE', 'AMT'}
subjects chosen by student 3 {'CLA', 'EDP', 'PES', 'BEEE'}
Common subjects chosen by all students: {'EDP'}

In [ ]:
#program 3: one set contains students in the cricket club and another in the football club
#find the students who are:
#1) in both clubs
#2) in only one club
# use intersection and difference

cricket = {'rupsa', 'ira', 'ruchika', 'riya', 'nirad', 'shravya', 'soumya','siddhant','simran', 'siddhi'}
football = {'vedant', 'ronit', 'ruchika', 'samarth', 'siddhant', 'shreyan', 'nirad','rupsa' }
print("students in cricket club: ", cricket)
print("students in football club: ", football)
print("students in both clubs: ", cricket.intersection(football))
print("students in only cricket and not football: ", cricket.difference(football))
print("students in only football and not cricket: ", football.difference(cricket))

students in cricket club:  {'rupsa', 'ira', 'nirad', 'simran', 'ruchika', 'riya', 'siddhant', 'soumya', 'shravya', 'siddhi'}
students in football club:  {'rupsa', 'ronit', 'samarth', 'nirad', 'ruchika', 'siddhant', 'shreyan', 'vedant'}
students in both clubs:  {'rupsa', 'nirad', 'siddhant', 'ruchika'}
students in only cricket and not football:  {'ira', 'riya', 'shravya', 'soumya', 'simran', 'siddhi'}
students in only football and not cricket:  {'shreyan', 'vedant', 'ronit', 'samarth'}

In [ ]:
#program 4: from the given set of total students and present students, find those absent
# Set of all students
s = {'rupsa', 'ira', 'nirad', 'simran', 'ruchika', 'riya', 'siddhant', 'soumya', 'shravya', 'siddhi'}
# Set of present students
p = {'rupsa', 'ira','siddhant','ruchika', 'riya'}
# Absent students = all - present
a = s-p
print("Absent students:", a)

Absent students: {'simran', 'siddhi', 'soumya', 'nirad', 'shravya'}

In [ ]:
#program 5: remove invalid entries
# a set conains valid course codes
# remoe a discontinued course code fromt he set.
# concept used: removed()/ discard()

courses = {"AMT", "CLA", "FEEE", "PES", "EDP", "PC"}
courses.discard("PC")
print("updated courses: ", courses)
courses.remove("AMT")
print("updated courses: ", courses)

updated courses:  {'FEEE', 'CLA', 'PES', 'EDP', 'AMT'}
updated courses:  {'FEEE', 'CLA', 'PES', 'EDP'}